.App {
  text-align: center;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #e0e1dd;
  background-color: black;
  font-size: larger;
}

.card {
  color: #e0e1dd;
  background-color: #778da9;

}

.summary-card {
  color: #e0e1dd;
  background-color: #415a77;
}

.circular-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-weight: bold;
}

.circular-button-1 {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: red;
}

.circular-button:hover {
  background-color: #0056b3;
}

.circular-button-1:hover {
  background-color: darkred;
}

table {
  border-radius: 2rem;
}

input {
  border: 1px solid black;
}